﻿<div id="about2">
	<h1>Sistema de aprendizaje electrónico</h1>

	<p>El proyecto demuestra una lección de historia sobre la Revolución Estadounidense, de un modo más atractivo. También hay un <a href="<?php echo $PHP_SELF ?>?page=juego">juego</a> para comprobar los saberes.</p> 

	<p>/UML del juego/</p>
	<p>El proyecto es creado para las clases de historia en el <a href="http://www.ibbcervantes-bg.com/?cid=38" target="_blank">Instituto Bilingüe de Bachillerato "Miguel de Cervantes"</a> Sofía, Bulgaria</p>

	<ul><h2>Fuentes utilizados:</h2>
		<li>Contenido
			<ul>Textos:
				<li><p><a href="http://www.monografias.com/trabajos7/revam/revam.shtml" target="_blank">http://www.monografias.com/trabajos7/revam/revam.shtml</a></p></li>
				<li><p><a href="http://es.wikipedia.org/" target="_blank">http://es.wikipedia.org/</a></p></li>
			</ul>
			<ul>Cuadros:
				<li>Emanuel Leutze 1851 - George Washington cruzando el río Delaware en el año 1776.</li>
				<li><p><a href="http://awesomeunitedstateshistory.blogspot.com/2012_11_01_archive.html" target="_blank">http://awesomeunitedstateshistory.blogspot.com/2012_11_01_archive.html</a></p> <p><a href="colonias.html" target="_blank">/Colonias/</a></p></li>
				<li><p><a href="http://halconesenlahistoria.blogspot.com/2010/07/4-de-julio-de-1776-declaracion-de.html" target="_blank">http://halconesenlahistoria.blogspot.com/2010/07/4-de-julio-de-1776-declaracion-de.html</a></p> <p><a href="independencia.html" target="_blank">/Independencia/</a></p></li>
			</ul>
		</li>
		<li>Realización programática<ul>
		<li>Plantilla de web:
			<p><a href="http://www.freewebsitetemplates.com/preview/gamewebsitetemplate/" target="_blank">http://www.freewebsitetemplates.com/preview/gamewebsitetemplate/</a></p></li>
		<li>HTML5</li>
		<li>CSS3</li>
		<li>PHP</li>
		<li>JQ 1.9.1</li></ul>
		</li>
	</ul>
</div>