﻿<div id="about2">
	<h1>Система за електронно обучение</h1>

	<p>Проектът представя урок по история върху Американската революция, който е поднесен по увлекателен начин. Има и <a href="<?php echo $PHP_SELF ?>?page=juego">игра</a> с въпроси за проверявяне на знанията.</p> 

	<p>/UML на играта/</p>

	<p>Проектът е разработен за часовете по история в <a href="http://www.ibbcervantes-bg.com/" target="_blank">Първа Испанска Езикова Гимназия -"Мигел де Сервантес"</a> в София.</p>

	<ul><h2>Използвани източници:</h2>
		<li>Съдържание
			<ul>Tекст:
				<li><p><a href="http://www.monografias.com/trabajos7/revam/revam.shtml" target="_blank">http://www.monografias.com/trabajos7/revam/revam.shtml</a></p></li>
				<li><p><a href="http://es.wikipedia.org/" target="_blank">http://es.wikipedia.org/</a></p></li>
			</ul>
			<ul>Kартини:
				<li>Емануел Лойце 1851 - "Вашингтон пресича река Деладеър". Събитието от картината се случва през 1776.</li>
				<li><p><a href="http://awesomeunitedstateshistory.blogspot.com/2012_11_01_archive.html" target="_blank">http://awesomeunitedstateshistory.blogspot.com/2012_11_01_archive.html</a></p> <p><a href="colonias.html" target="_blank">/Колонии/</a></p></li>
				<li><p><a href="http://halconesenlahistoria.blogspot.com/2010/07/4-de-julio-de-1776-declaracion-de.html" target="_blank">http://halconesenlahistoria.blogspot.com/2010/07/4-de-julio-de-1776-declaracion-de.html</a></p> <p><a href="independencia.html" target="_blank">/Независимост/</a></p></li>
			</ul>
		</li>
		<li>Програмна реализация<ul>
		<li>Уеб темплейт:
			<p><a href="http://www.freewebsitetemplates.com/preview/gamewebsitetemplate/" target="_blank">http://www.freewebsitetemplates.com/preview/gamewebsitetemplate/</a></p></li>
		<li>HTML5</li>
		<li>CSS3</li>
		<li>PHP</li>
		<li>JQ 1.9.1</li></ul>
		</li>
	</ul>
</div>