﻿<div>
	<h1>Las colonias inglesas en América del Norte</h1>
	<ul>
		<li>1607 – se realizaron las primeras expediciones a Virginia. No encontraron metales pero cultivaron el tabaco.</li>
		<li>Una Asamblea Legislativa fue constituida en el año 1619 instaurando la primera forma parlamentaria en América.</li>
		<li>Boston – fue creado en el año 1630. </li>
		<li>Sus ciudadanos estaban decididos a crear un puritanismo intransigente(непримирим) hasta conformar un Estado eclesiástico puritano.</li>
		En America del Norte había 4 estados europeos participantes en el establecimiento de colonias: Espana, Inglaterra, Francia y Holanda.</li>
	</ul>
	<ul><h2>Eran en total 13 colonias britanicas establecidas entre los anos 1607 y 1700:</h2>
		<li>Virginia (1607) </li>
		<li>Nueva York (1614)</li>
		<li>Nueva Jersey (1614-1621)</li>
		<li>Massachussetts (1620)</li>
		<li>Nueva Hampshire (1623)</li>
		<li>Boston (1607)</li>
		<li>Delaware (1631)</li>
		<li>Georgia (1632)</li>
		<li>Maryland (1634)</li>
		<li>Connecticut (1636)</li>
		<li>Rhode Island (1636)</li>
		<li>Carolina del Norte y Carolina del Sur (1663)</li>
		<li>Pennsylvania (1681)</li>
	</ul>
	<img src="images/karta.jpg" style="display:inline; float:left; margin: 15px"><br>
	<ul>
		<li>Cada una colonia tenia propio gobernador designado por el rey en algunas colonias, por los ricos propieatarios o por todo el pueblo en otras</li>
		<li>Poder legislativo</li>
		<li>El regimen economico era tan monopolista como en Espana, Francia o Portugal</li>
		<li>Tenian agricultura prospera y comerciaban mucho con el metropoli</li>
		<li>Cada una colonia adquirio gran individualidad</li>
		<li>A mediados del siglo XVII, dichas colonias eran independientes de Inglaterra</li>
	</ul>
												
</div>
				