﻿<div>
	<h1>Constitución</h1>
	<p>En el año 1782 Alexánder Hamilton publicó una serie de artículos defendiendo la tesis de creación de un gobierno central 
	fuerte y suponiendo la reunión de una convención de delegados para el dictado de las nuevas medidas, necesarias para realizar la Constitución del gobierno.</p>
	<p>La convención se reunió en Filadelfia y nombraron un Gobierno Federal bajo la presidencia de Washington. <br>
	La Constitución fue una transacción entre los demócratas radicales y los republicanos conservadores. Nadie se atrevió a 
	hablar de monarquía, pero Hamilton, sí pensó en tal forma de gobierno. "<br>
	En la convención a la cual asistieron cincuenta y cinco delegados entre los que debemos destacar a Benjamin Franklin, George Washington, James Madison y 
	Charles Pickney. También se debe destacar la redacción de Madison sobre el ¨PlanVirginia¨ donde propuso la creación de un poder ejecutivo, una legislatura con dos cámaras y un poder judicial. </p>
	<p>El éxito de esta Constitución ha causado la admiración del mundo entero y ha servido de modelo a muchos países.
	Finalmente debemos mencionar a John Locke como el padre del constitucionalismo de Occidente, su influencia en los Estados Unidos de 
	América es manifiesta. La declaración de la independencia, cuyo texto se atribuye a Jefferson y La Constitución de Filadelfia son recipientes de su influencia. </p>
	<p>Es necesario finalizar comentando que con la muerte de George Washington se marca el fin de una etapa en la historia norteamericana, pero comenzará una nueva con 
	la presidencia de Thomas Jefferson quien tenía 3 principios principales: el gobierno limitado, los derechos del hombre, la igualdad natural.</p>
</div>