<div>
				<div><div class="section2">
						<div>
							<h3><?php echo $header ?></h3>
							<div>
								<?php 
									include "content/".$include_file; 
								?>
							</div>
						</div>
						<div id="juego">
							<h3>Juego</h3>
							<div>
								<a href="<?php echo $PHP_SELF ?>?page=juego"><img src="images/games.jpg" alt=""></a>
								<span><a href="<?php echo $PHP_SELF ?>?page=juego">Comprueba tus saberes</a></span>
							</div>
						</div>
						<div id="about">
							<h3>Sobre el proyecto</h3>
							<div>
								<div><strong>Infromación sobre el proyecto</strong><br>Este proyecto demuestra un método más atractivo de estudiar la historia. Haga un clic en el enlace de abajo para ver toda la información sobre él.
								<!--Този проект представя един метод за по-атрактивно изучаване на историята. Цъкни по-долу, за да видиш цялата информация за него--><br><br><a href="<?php echo $PHP_SELF ?>?page=sobreBG" title="Относно проекта">/виж на български/</a></div>
								<span><a href="<?php echo $PHP_SELF ?>?page=sobre" title="Sobre el proyecto">Información</a></span>
							</div>
						</div>
					</div>
					
				</div>
			</div>