﻿<div>
	<h1>La declaración de la independencia</h1>
	<ul>
		<li>1776 Gran Bretaña mandó bien equipadas tropas para sofocar la rebelión</li>
		<li>En el Congreso de Filadelfia (04.07.1776) declararon solemnemente la independencia de los Estados Unidos de América</li>
				<img src="images/indepen.jpg" align="center"><br>
		<li>La nueva República inició negociaciones en Francia para obtener el apoyo de dicha potencia en la lucha contra Inglaterra</li>
		<li>Los dirigentes galos se mantuvieron reticentes especialmente por el curso negativo de las operaciones bélicas</li>
		<li>Benjamín Franklin fue el encargado de esta misión</li>
		<li>Se proclamaban principios de libertad e igualdad en los que era evidente una influencia francesa del siglo XVIII.</li>
	</ul>
	<ul><h2>La lucha por la independencia</h2>
		<li>A fines de 1776 Washington detiene el avance(progreso) inglés en Nueva Jersey.</li>
		<li>En 1778 se produce la intervención francesa</li>
		<li>1780 – ejército de francia combinado con el de Washington, el de la Fayette consiguió hacer capitular al ejército británico del sur el 19 de Octubre de 1781 en Yorktown</li>
		<li>La Paz de Versalles fue firmada el 3 de Septiembre de 1783.</li>
		<li>Se determinó el territorio de América</li>
		<li>Francia recuperaba algunos enclaves(territorios) en las Antillas</li>
		<li>Holanda recibió Sumatra</li>
		<li>Carlos III de España consiguió que Bretaña le dovolviera Menorca y Florida pero renunció a sus pretensiones sobre Gibraltar</li>
		<li>Gran Bretaña mantenía a Canadá</li>  
	</ul>
</div>