﻿<div>
								
									<p>Revolución estadounidense es una expresión utilizada en la bibliografía en castellano para traducir la expresión "American Revolution", y cuya traducción por "Revolución americana", aunque admitida, no está recomendada.</p>
									<p>La Revolución Estadounidense fue un conflicto entre las trece colonias británicas en América del Norte y su metrópoli (el Reino Unido). De este proceso surgiría una nueva nación, según lo establecería la Constitución de los Estados Unidos de América.</p>
								
							</div>