<div>
					<a href="<?php echo $PHP_SELF ?>?page=inicio" class="logo"><img src="images/logo.png" alt=""></a>
					<ul>
						<li class="<?php if($page=='inicio') echo 'selected'; ?>">
							<a href="<?php echo $PHP_SELF ?>?page=inicio" title="Inicio" id="menu1">inicio</a>
						</li>
						<li class="<?php if($page=='colonias') echo 'selected'; ?>">
							<a href="<?php echo $PHP_SELF ?>?page=colonias" title="Colonias" id="menu2">colonias</a>
						</li>
						<li  class="<?php if($page=='politica') echo 'selected'; ?>">
							<a href="<?php echo $PHP_SELF ?>?page=politica" title="Política" id="menu3">política</a>
						</li>
						<li class="<?php if($page=='independencia') echo 'selected'; ?>">
							<a href="<?php echo $PHP_SELF ?>?page=independencia" title="Independencia" id="menu4">independencia</a>
						</li>
						<li class="<?php if($page=='constitucion') echo 'selected'; ?>">
							<a href="<?php echo $PHP_SELF ?>?page=constitucion" title="Constitución" id="menu5">constitución</a>
						</li>
					</ul>
				</div>