﻿<div>
	<h1>La política impositiva</h1>
	<p>Después de la Guerra de los Siete Años el gobierno británico decidió organizar sus dominios americanos en forma de imperio comenzando por Canadá, país que accedió sin resistencia alguna.</p>
	<h2>Dentro de las medidas tomadas encontramos:</h2>
	<ul>
		<li>Impuesto aduanero sobre el azúcar sobre las melazas que ingresaban en las colonias. (1764).</li>
		<li>Ley del Timbre que disponía el uso de papel sellado en todos los documentos legales. (1765) </li>
		<li>Establecimiento de una lista de mercancías que debían adquirirse en la Gran Bretaña. </li>
	</ul>
	<p>Por dichos motivos las colonias del sur contrajeron deudas elevadas en Inglaterra, exportaban prácticamente tabaco solamente a la par de que importaban carrozas, pelucas, esclavos y muebles entre otros. En el Norte sucedió algo similar pero el contrabando lograba tapar las pérdidas reales, pero la conjunción de múltiples factores económicos, políticos y sociales provocaron que los americanos pasen a la acción abandonando de esta forma la pasividad que mantenían hasta entonces formando grupos que llevaban por nombre el de "Hijos de la Libertad" los cuales perseguían y atacaban a todos aquellos que continuaban adquiriendo mercaderías inglesas. </p>
	<h2>Masacre de Boston</h2>
	<ul>
		<li>El 5 de Marzo de 1770 se produjo la famosa "Masacre de Boston" donde se produjo un enfrentamiento entre tropas inglesas y un núcleo de civiles en lo que debemos repetir lo expresado por un líder patriota como ha sido Samuel Adams: "Es hora de que el pueblo de nuestro país declare explícitamente si éste ha de ser de hombres libres o esclavos".</li>
		<li>En 1773 un grupo de patriotas disfrazados de indios atacó a tres barcos cargados de té que estaban anclados en el puerto de Boston donde abrieron a cuchilladas las cajas y echaron el té al mar, esto provocó la reacción de Jorge III el cual dio órdenes terminantes para castigar a los rebeldes, pero la reacción patriota fue inmediata destacándose los siguientes hechos ocurridos. </li>
		<li>El 5 de Septiembre de 1774 se reunió en Filadelfia el "Primer Congreso Continental", entre cuyos representantes se destacaron Samuel y John Adams, John Jay, Patrick Henry y se encargó de nombrar el primer Gobierno revolucionario. Este fue una asamblea tumultuosa sin política bien determinada, pero el "Segundo Congreso", reunido también en Filadelfia en Mayo de 1775 se transformó en una asamblea ya deliberante, cuyas audaces deciciones (nombramiento de Washington como general en jefe de las fuerzas liberadoras) dieron al país sus primeras bases nacionales. </li>
		<li>En la batalla de Lexington (1775) los colonos se alzaron en armas batiendo a un ejército real, reunieron entonces un nuevo Congreso en Filadelfia del cual hablamos en el punto anterior y designaron jefe político y militar a George Washington. </li>
		<li>El 17 de Marzo de 1776 los ingleses deberán evacuar por mar la ciudad de Boston luego de los ataques provocados por George Washington. </li>
		<li>El 5 de Julio de 1776 Sir William Howe desembarcó con sus tropas en Staten Island y Nueva York cayó en manos británicas. </li>
		<li>Sucesivas victorias inglesas sucedían. </li>
	</ul>
</div>