<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' type='text/javascript'></script>
<script type='text/javascript'>
$(function() {
	var qanswer = [1, 0, 3, 1, 3, 1, 2, 0, 2, 1, 3, 2, 1, 3, 0, 2, 0, 1, 0, 2];
	var qnumber = 0;
	var counter = 20;
	
	$('.item:gt(0)').css("display", "none");
	$('.item > .counter').append(counter);
		
	$(".item li").click(function() {
		if(counter==1) {
			var index = $(this).index();
			if(qanswer[qnumber]==index) {
				++qnumber;
				<!--alert ("El juego se acabó. Uds. acertó " + qnumber + " preguntas.");-->
				$(this).parent().parent().css("display", "none");
				$(".finalResult").css("display", "block");
				$(".finalResult").text("El juego se acabó. Ud. acertó " + qnumber + " preguntas.");
			} else {
				$(this).parent().parent().css("display", "none");
				$(".finalResult").css("display", "block");
				$(".finalResult").text("El juego se acabó. Ud. acertó " + qnumber + " preguntas.");
			}
		} else {
			var index = $(this).index();
			if(qanswer[qnumber]==index) {
				$(this).parent().parent().css("display", "none");
				$(this).parent().parent().next().css("display", "block");
				--counter;
				$(this).parent().parent().next().children('p.counter').text(counter);
				qnumber++;
			} else {
				$(this).css("visibility", "hidden");
				--counter;
				$(this).parent().parent().children('p.counter').text(counter);				
				}			
			}			
	});	
});
</script>	
<div>
	<div>
		<div class='item'>
		<p class='question'>1. ¿Cuál fue la primera colonia americana?</p>
		<p class='counter'></p>
		<ol>
		<li>Nueva York</li>
		<li>Virginia</li>
		<li>Georgia</li>
		<li>Rhode Island</li>
		</ol>
		</div>
		<div class='item'>
		<p class='question'>2. ¿Qué cultivaron en Virginia en vez de encontrar metales?</p>
		<p class='counter'></p>
		<ol>
		<li>El tabaco</li>
		<li>La caña de azúcar</li>
		<li>El tomate</li>
		<li>La col</li>
		</ol>
		</div>
		<div class='item'>
		<p class='question'>3. ¿Qué estaban decididos a crear los ciudadanos de Boston?</p>
		<p class='counter'></p>
		<ol>
		<li>Nuevo Parlamento</li>
		<li>Nueva Constitución Americana</li>
		<li>Fábrica de té inglés</li>
		<li>Estado eclesiástico puritano</li>
		</ol>
		</div>
		<div class='item'>
		<p class='question'>4. ¿En qué año fue creada Pennsylvania?"</p>
		<p class='counter'></p>
		<ol>
		<li>1631</li>
		<li>1681</li>
		<li>1636</li>
		<li>1614</li>
		</ol>
		</div>
		<div class='item'>
		<p class='question'>5. ¿Cuántas eran las colonias británicas en América del Norte?</p>
		<p class='counter'></p>
		<ol>
		<li>12</li>
		<li>10</li>
		<li>14</li>
		<li>13</li>
		</ol>
		</div><div class='item'>
		<p class='question'>6. ¿Por qué  el gobierno británico organizó sus dominios en forma de imperio comenzando por Canadá?</p>
		<p class='counter'></p>
		<ol>
		<li>Necesitaba más recursos naturales y en Canadá hay mucho</li>
		<li>Canadá accedió sin resistencia  y era  fácil dominarla</li>
		<li>El gobierno británico  pensaba solo en los territorios de Canadá</li>
		<li>El único dominio del  gobierno británico era en los  territorios de Cánada</li>
		</ol>
		</div><div class='item'>
		<p class='question'>7. ¿Cuál de estos no forma parte de las medidas tomadas relacionadas con el dominio en forma de imperio?</p>
		<p class='counter'></p>
		<ol>
		<li>Impuesto aduanero sobre el azúcar sobre las melazas que ingresaban en las colonias</li>
		<li>Ley del Timbre que disponía el uso de papel sellado en todos los documentos legales</li>
		<li>Se daban órdenes terminantes para castigar a los rebeldes</li>
		<li>Lista de mercancias</li>
		</ol>
		</div><div class='item'>
		<p class='question'>8. ¿En qué año  se produjo la famosa 'Masacre de Boston'?</p>
		<p class='counter'></p>
		<ol>
		<li>1770</li>
		<li>1773</li>
		<li>1774</li>
		<li>1776</li>
		</ol>
		</div><div class='item'>
		<p class='question'>9. ¿Quién había sido nombrado para el general de las fuerzas liberadoras?</p>
		<p class='counter'></p>
		<ol>
		<li>Sir William Howe</li>
		<li>Patrick Henry</li>
		<li>George Washington</li>
		<li>John Adams</li>
		</ol>
		</div><div class='item'>
		<p class='question'>10. ¿Cómo eligieron el general  de las fuerzas liberadoras?</p>
		<p class='counter'></p>
		<ol>
		<li>05.09.1774 se reunió el 'Primer Congreso Continental'  y nombró el primer general</li>
		<li>Durante el 'Segundo Congreso'</li>
		<li>Después de la batalla de Lexington en un nuevo Congreso en Filadelfia</li>
		<li>En el cuarto congreso reunido en el año 1776</li>
		</ol>
		</div><div class='item'>
		<p class='question'>11. ¿Qué pasó en el Congreso de Filadelfia (1776)?</p>
		<p class='counter'></p>
		<ol>
		<li>América declaró guerra a Gran Britaña</li>
		<li>Anunciaron su anhelo de tener propio parlamento</li>
		<li>Discutieron las consecuencias de alguna guerra futura</li>
		<li>Declararon su independencia</li>
		</ol>
		</div><div class='item'>
		<p class='question'>12. ¿El apoyo de qué país quiso obtener la nueva República?</p>
		<p class='counter'></p>
		<ol>
		<li>España</li>
		<li>Holanda</li>
		<li>Francia</li>
		<li>Bulgaria</li>
		</ol>
		</div><div class='item'>
		<p class='question'>13. ¿Qué sucedió en el año 1781?</p>
		<p class='counter'></p>
		<ol>
		<li>Empezó la lucha por la independencia</li>
		<li>El ejército británico del sur fue capitulado</li>
		<li>La flota inglesa fue totalmente vencida</li>
		<li>América ganó la guerra</li>
		</ol>
		</div><div class='item'>
		<p class='question'>14. ¿En los principios de libertad e igualdad se observaba la influencia de ...?</p>
		<p class='counter'></p>
		<ol>
		<li>...Portugal</li>
		<li>...America del Sur</li>
		<li>...Inglaterra</li>
		<li>...Francia</li>
		</ol>
		</div><div class='item'>
		<p class='question'>15. ¿Qué parte de América quedó bajo el poder de Bretaña después de la Paz de Versalles?</p>
		<p class='counter'></p>
		<ol>
		<li>Canadá</li>
		<li>Alaska</li>
		<li>Enclaves(territorios) de las Antillas</li>
		<li>Boston</li>
		</ol>
		</div><div class='item'>
		<p class='question'>16. ¿Qué es la 'Plan Virginia'?</p>
		<p class='counter'></p>
		<ol>
		<li>Una legislatura con dos cámaras</li>
		<li>Una legislatura con una cámara y un poder judicial</li>
		<li>Una legislatura con dos cámaras y un poder judicial</li>
		<li>Una legislatura con una cámara</li>
		</ol>
		</div><div class='item'>
		<p class='question'>17. ¿Cuál de los aptitudes NO otorga La Constitución al Presidente?</p>
		<p class='counter'></p>
		<ol>
		<li>Elegido por dos años en elecciones de doble grado y no reelegible</li>
		<li>Tiene iniciativa legislativa</li>
		<li>Tiene iniciativa presupuestaria</li>
		<li>Es Comandante supremo del Ejército y de la Marina</li>
		</ol>
		</div><div class='item'>
		<p class='question'>18. ¿Quién fue el padre del constitucionalismo de Occidente?</p>
		<p class='counter'></p>
		<ol>
		<li>Benjamin Franklin</li>
		<li>John Locke</li>
		<li>Alexander Hamilton</li>
		<li>Charles Pickney</li>
		</ol>
		</div><div class='item'>
		<p class='question'>19. ¿A quién se atribuye 'La declaración de la independencia'?</p>
		<p class='counter'></p>
		<ol>
		<li>Thomas Jefferson</li>
		<li>George Washington</li>
		<li>James Madison</li>
		<li>James Wilson</li>
		</ol>
		</div><div class='item'>
		<p class='question'>20. ¿Cuál de los principios NO es de los principios de la presidencia de Thomas Jefferson?s</p>
		<p class='counter'></p>
		<ol>
		<li>El gobierno limitado</li>
		<li>Los derechos del hombre</li>
		<li>Colección de poderes</li>
		<li>La igualdad natural</li>
		</ol>
		</div>
		<div class="finalResult">
		</div>
	</div>
</div>
		